In [1]:
import pandas as pd
import numpy as np

In [2]:
df_powerplant = pd.read_csv("powerplants2.csv") #.column("Population")
df_powerplant.head(3)

,Plant_Code,Plant_Name,Utility_Na,Utility_ID,sector_nam,City,County,Zip,Street_Add,PrimSource,...,Solar_MW,Wind_MW,Geo_MW,Other_MW,source_des,tech_desc,Source,Period,Latitude,Longitude
0,2,Bankhead Dam,Alabama Power Co,195,Electric Utility,Northport,Tuscaloosa,35476,19001 Lock 17 Road,hydroelectric,...,0.0,0.0,NaN,NaN,Hydroelectric = 56 MW,Conventional Hydroelectric,"EIA-860, EIA-860M and EIA-923",201607,33.458665,-87.356823
1,3,Barry,Alabama Power Co,195,Electric Utility,Bucks,Mobile,36512,North Highway 43,coal,...,0.0,0.0,NaN,NaN,"Coal = 1088.5 MW, Natural Gas = 1072 MW",Conventional Steam Coal; Natural Gas Fired Com...,"EIA-860, EIA-860M and EIA-923",201607,31.006900,-88.010300
2,4,Walter Bouldin Dam,Alabama Power Co,195,Electric Utility,Wetumpka,Elmore,36092,750 Bouldin Dam Road,hydroelectric,...,0.0,0.0,NaN,NaN,Hydroelectric = 225.9 MW,Conventional Hydroelectric,"EIA-860, EIA-860M and EIA-923",201607,32.583889,-86.283056

In [3]:
df_powerplant = df_powerplant.fillna(value=0)
df_powerplant.head(3)

,Plant_Code,Plant_Name,Utility_Na,Utility_ID,sector_nam,City,County,Zip,Street_Add,PrimSource,...,Solar_MW,Wind_MW,Geo_MW,Other_MW,source_des,tech_desc,Source,Period,Latitude,Longitude
0,2,Bankhead Dam,Alabama Power Co,195,Electric Utility,Northport,Tuscaloosa,35476,19001 Lock 17 Road,hydroelectric,...,0.0,0.0,0.0,0.0,Hydroelectric = 56 MW,Conventional Hydroelectric,"EIA-860, EIA-860M and EIA-923",201607,33.458665,-87.356823
1,3,Barry,Alabama Power Co,195,Electric Utility,Bucks,Mobile,36512,North Highway 43,coal,...,0.0,0.0,0.0,0.0,"Coal = 1088.5 MW, Natural Gas = 1072 MW",Conventional Steam Coal; Natural Gas Fired Com...,"EIA-860, EIA-860M and EIA-923",201607,31.006900,-88.010300
2,4,Walter Bouldin Dam,Alabama Power Co,195,Electric Utility,Wetumpka,Elmore,36092,750 Bouldin Dam Road,hydroelectric,...,0.0,0.0,0.0,0.0,Hydroelectric = 225.9 MW,Conventional Hydroelectric,"EIA-860, EIA-860M and EIA-923",201607,32.583889,-86.283056

In [4]:
df_powerplant.columns

Index(['Plant_Code', 'Plant_Name', 'Utility_Na', 'Utility_ID', 'sector_nam',
       'City', 'County', 'Zip', 'Street_Add', 'PrimSource', 'Total_MW',
       'Coal_MW', 'NG_MW', 'Crude_MW', 'Bio_MW', 'Hydro_MW', 'HydroPS_MW',
       'Nuclear_MW', 'Solar_MW', 'Wind_MW', 'Geo_MW', 'Other_MW', 'source_des',
       'tech_desc', 'Source', 'Period', 'Latitude', 'Longitude'],
      dtype='object')

### 1. Clean Energy
Making a dataframe of clean energy:
biopower, hydro power, hydro power(PS), solar power, wind power, geo power

In [5]:
df_CE_powerplant = df_powerplant.drop(['Total_MW','Coal_MW','NG_MW','Crude_MW','Nuclear_MW','Other_MW'], axis=1)
df_CE_powerplant = df_CE_powerplant.drop(['Plant_Code','Utility_ID','sector_nam','PrimSource','source_des','tech_desc','Source','Period','Latitude','Longitude'], axis=1)
df_CE_powerplant.head(5)

,Plant_Name,Utility_Na,City,County,Zip,Street_Add,Bio_MW,Hydro_MW,HydroPS_MW,Solar_MW,Wind_MW,Geo_MW
0,Bankhead Dam,Alabama Power Co,Northport,Tuscaloosa,35476,19001 Lock 17 Road,0.0,56.0,0.0,0.0,0.0,0.0
1,Barry,Alabama Power Co,Bucks,Mobile,36512,North Highway 43,0.0,0.0,0.0,0.0,0.0,0.0
2,Walter Bouldin Dam,Alabama Power Co,Wetumpka,Elmore,36092,750 Bouldin Dam Road,0.0,225.9,0.0,0.0,0.0,0.0
3,Gadsden,Alabama Power Co,Gadsden,Etowah,35903,1000 Goodyear Ave,0.0,0.0,0.0,0.0,0.0,0.0
4,Gorgas,Alabama Power Co,Parrish,Walker,35580,460 Gorgas Road,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df_CE_powerplant['total clean energy MW'] = df_CE_powerplant['Bio_MW']+df_CE_powerplant['Hydro_MW']+df_CE_powerplant['HydroPS_MW']+df_CE_powerplant['Solar_MW']+df_CE_powerplant['Wind_MW']+df_CE_powerplant['Geo_MW']
df_CE_powerplant.head(5)

,Plant_Name,Utility_Na,City,County,Zip,Street_Add,Bio_MW,Hydro_MW,HydroPS_MW,Solar_MW,Wind_MW,Geo_MW,total clean energy MW
0,Bankhead Dam,Alabama Power Co,Northport,Tuscaloosa,35476,19001 Lock 17 Road,0.0,56.0,0.0,0.0,0.0,0.0,56.0
1,Barry,Alabama Power Co,Bucks,Mobile,36512,North Highway 43,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Walter Bouldin Dam,Alabama Power Co,Wetumpka,Elmore,36092,750 Bouldin Dam Road,0.0,225.9,0.0,0.0,0.0,0.0,225.9
3,Gadsden,Alabama Power Co,Gadsden,Etowah,35903,1000 Goodyear Ave,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Gorgas,Alabama Power Co,Parrish,Walker,35580,460 Gorgas Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# df_CE_powerplant = df_CE_powerplant[df_CE_powerplant['total clean energy MW'] != 0]
# df_CE_powerplant.head(5)

In [7]:
df_CE_powerplant.tail(5)

,Plant_Name,Utility_Na,City,County,Zip,Street_Add,Bio_MW,Hydro_MW,HydroPS_MW,Solar_MW,Wind_MW,Geo_MW,total clean energy MW
7605,Bethlehem - West,"DG Bethlehem Solar, LLC",Selkirk,Albany,12158,253-B Bridge Street,0.0,0.0,0.0,1.0,0.0,0.0,1.0
7606,"Germantown Solar, LLC","Germantown Solar, LLC",Rural Hall,Forsyth,27045,2105 Rural Hall,0.0,0.0,0.0,2.1,0.0,0.0,2.1
7607,Jefferson Avenue,Hartz Solar LLC,Secauscus,Hudson,7094,600 Jefferson Avenue,0.0,0.0,0.0,1.7,0.0,0.0,1.7
7608,Westside Avenue,Hartz Solar LLC,North Bergen,Hudson,7047,8501 Westside Avenue,0.0,0.0,0.0,0.9,0.0,0.0,0.9
7609,Hartz Way,Hartz Solar LLC,Secaucus,Hudson,7094,50 Hartz Way,0.0,0.0,0.0,0.9,0.0,0.0,0.9

In [8]:
def PrimCESource(plantName):
    powerplant = df_CE_powerplant[df_CE_powerplant['Plant_Name'] == plantName]
    powerplant = powerplant.reset_index(drop=True)
    Bio     = powerplant['Bio_MW'][0]
    Hydro   = powerplant['Hydro_MW'][0]
    HydroPS = powerplant['HydroPS_MW'][0]
    Solar   = powerplant['Solar_MW'][0]
    Wind    = powerplant['Wind_MW'][0]
    Geo     = powerplant['Geo_MW'][0]

    dictionary = {}
    number_and_power_source = [
        [Bio, 'Biopower'],
        [Hydro, 'Hydroelectric power'],
        [HydroPS, 'Pumped-storage Hydroelectric power'],
        [Solar, 'Solar power'],
        [Wind, 'Wind power'],
        [Geo, 'Geothermal power'],
    ]
    for number, power_source in number_and_power_source:
        if number in dictionary.keys():
            dictionary[number] += [power_source]
        else:
            dictionary[number] = [power_source]
    dictionary[0] = ['No Clean Energy']

    max_key = max(dictionary.keys())
    return (" & ".join(dictionary[max_key]))


print(PrimCESource('Bankhead Dam'))
print(PrimCESource('Barry'))
print(PrimCESource('Hartz Way'))

Hydroelectric power
No Clean Energy
Solar power

In [9]:
[ PrimCESource(plantName) for plantName in ['Bankhead Dam', 'Barry'] ]

['Hydroelectric power', 'No Clean Energy']

In [10]:
df_CE_powerplant['Plant_Name'].apply(PrimCESource)

0       Hydroelectric power
1           No Clean Energy
2       Hydroelectric power
3           No Clean Energy
4           No Clean Energy
5           No Clean Energy
6           No Clean Energy
7       Hydroelectric power
8       Hydroelectric power
9       Hydroelectric power
10      Hydroelectric power
11      Hydroelectric power
12      Hydroelectric power
13      Hydroelectric power
14      Hydroelectric power
15      Hydroelectric power
16      Hydroelectric power
17      Hydroelectric power
18          No Clean Energy
19          No Clean Energy
20      Hydroelectric power
21      Hydroelectric power
22          No Clean Energy
23          No Clean Energy
24      Hydroelectric power
25      Hydroelectric power
26          No Clean Energy
27      Hydroelectric power
28          No Clean Energy
29      Hydroelectric power
               ...
7580            Solar power
7581            Solar power
7582            Solar power
7583            Solar power
7584       Geothermal power
7585        No Clean Energy
7586            Solar power
7587            Solar power
7588            Solar power
7589            Solar power
7590            Solar power
7591            Solar power
7592        No Clean Energy
7593            Solar power
7594            Solar power
7595            Solar power
7596            Solar power
7597            Solar power
7598            Solar power
7599            Solar power
7600            Solar power
7601            Solar power
7602            Solar power
7603            Solar power
7604            Solar power
7605            Solar power
7606            Solar power
7607            Solar power
7608            Solar power
7609            Solar power
Name: Plant_Name, Length: 7610, dtype: object

In [11]:
df_CE_powerplant['Prime Source'] = df_CE_powerplant['Plant_Name'].apply(PrimCESource)
df_CE_powerplant.head(5)

,Plant_Name,Utility_Na,City,County,Zip,Street_Add,Bio_MW,Hydro_MW,HydroPS_MW,Solar_MW,Wind_MW,Geo_MW,total clean energy MW,Prime Source
0,Bankhead Dam,Alabama Power Co,Northport,Tuscaloosa,35476,19001 Lock 17 Road,0.0,56.0,0.0,0.0,0.0,0.0,56.0,Hydroelectric power
1,Barry,Alabama Power Co,Bucks,Mobile,36512,North Highway 43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Clean Energy
2,Walter Bouldin Dam,Alabama Power Co,Wetumpka,Elmore,36092,750 Bouldin Dam Road,0.0,225.9,0.0,0.0,0.0,0.0,225.9,Hydroelectric power
3,Gadsden,Alabama Power Co,Gadsden,Etowah,35903,1000 Goodyear Ave,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Clean Energy
4,Gorgas,Alabama Power Co,Parrish,Walker,35580,460 Gorgas Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No Clean Energy

### 2. Prime Source Energy
Energy produce from the powerplant from its prime power source

In [12]:
df_primepower = df_powerplant.drop(['Plant_Code','Utility_ID','sector_nam','source_des','tech_desc','Source','Period','Latitude','Longitude'], axis=1)
df_primepower = df_primepower.drop(['Utility_Na','Zip','Street_Add'], axis=1)
df_primepower.head(5)

,Plant_Name,City,County,PrimSource,Total_MW,Coal_MW,NG_MW,Crude_MW,Bio_MW,Hydro_MW,HydroPS_MW,Nuclear_MW,Solar_MW,Wind_MW,Geo_MW,Other_MW
0,Bankhead Dam,Northport,Tuscaloosa,hydroelectric,56.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Barry,Bucks,Mobile,coal,2160.5,1088.5,1072.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Walter Bouldin Dam,Wetumpka,Elmore,hydroelectric,225.9,0.0,0.0,0.0,0.0,225.9,0.0,0.0,0.0,0.0,0.0,0.0
3,Gadsden,Gadsden,Etowah,natural gas,130.0,0.0,130.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Gorgas,Parrish,Walker,coal,1034.0,1034.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df_PrimSource = df_primepower.groupby(['PrimSource']).count()
df_PrimSource

,Plant_Name,City,County,Total_MW,Coal_MW,NG_MW,Crude_MW,Bio_MW,Hydro_MW,HydroPS_MW,Nuclear_MW,Solar_MW,Wind_MW,Geo_MW,Other_MW
PrimSource,,,,,,,,,,,,,,,
biomass,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739
coal,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380
geothermal,66,66,66,66,66,66,66,66,66,66,66,66,66,66,66
hydroelectric,1398,1398,1398,1398,1398,1398,1398,1398,1398,1398,1398,1398,1398,1398,1398
natural gas,1676,1676,1676,1676,1676,1676,1676,1676,1676,1676,1676,1676,1676,1676,1676
nuclear,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62
other,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112
petroleum,832,832,832,832,832,832,832,832,832,832,832,832,832,832,832
pumped storage,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34
solar,1379,1379,1379,1379,1379,1379,1379,1379,1379,1379,1379,1379,1379,1379,1379
wind,932,932,932,932,932,932,932,932,932,932,932,932,932,932,932

In [14]:
def PrimEnergy(plantName):
    powerplant = df_primepower[df_primepower['Plant_Name'] == plantName]
    powerplant = powerplant.reset_index(drop=True)

    Coal    = powerplant["Coal_MW"][0]    # coal
    NG      = powerplant["NG_MW"][0]      # natural gas
    Crude   = powerplant["Crude_MW"][0]   # petroleum
    Bio     = powerplant['Bio_MW'][0]     # biomass
    Hydro   = powerplant['Hydro_MW'][0]   # hydroelectric
    HydroPS = powerplant['HydroPS_MW'][0] # pumped storage
    Nuclear = powerplant["Nuclear_MW"][0] # nuclear
    Solar   = powerplant['Solar_MW'][0]   # solar
    Wind    = powerplant['Wind_MW'][0]    # wind
    Geo     = powerplant['Geo_MW'][0]     # geothermal
    Other   = powerplant["Other_MW"][0]   # other

    power_source = [
        [Coal, 'coal'],
        [NG,'natural gas'],
        [Crude, 'petroleum'],
        [Bio,'biomass'],
        [Hydro,'hydroelectric'],
        [HydroPS,'pumped storage'],
        [Nuclear,'nuclear'],
        [Solar,'solar'],
        [Wind,'wind'],
        [Geo,'geothermal'],
        [Other,'other'],
    ]
    
    PSourceE = 0
    
    for energy, PowerSource in power_source:
        if PowerSource == powerplant["PrimSource"][0]:
            PSourceE = PSourceE + energy
        else:
            PSourceE = PSourceE + 0
    return PSourceE


print(PrimEnergy('Bankhead Dam'))
print(PrimEnergy('Barry'))
print(PrimEnergy('Hartz Way'))

56.0
1088.5
0.9

In [15]:
[ PrimEnergy(plantName) for plantName in ['Bankhead Dam', 'Barry'] ]

[56.0, 1088.5]

In [16]:
df_primepower['Prime Source Energy MW'] = df_primepower['Plant_Name'].apply(PrimEnergy)
df_primepower.head(5)

,Plant_Name,City,County,PrimSource,Total_MW,Coal_MW,NG_MW,Crude_MW,Bio_MW,Hydro_MW,HydroPS_MW,Nuclear_MW,Solar_MW,Wind_MW,Geo_MW,Other_MW,Prime Source Energy MW
0,Bankhead Dam,Northport,Tuscaloosa,hydroelectric,56.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0
1,Barry,Bucks,Mobile,coal,2160.5,1088.5,1072.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1088.5
2,Walter Bouldin Dam,Wetumpka,Elmore,hydroelectric,225.9,0.0,0.0,0.0,0.0,225.9,0.0,0.0,0.0,0.0,0.0,0.0,225.9
3,Gadsden,Gadsden,Etowah,natural gas,130.0,0.0,130.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,130.0
4,Gorgas,Parrish,Walker,coal,1034.0,1034.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1034.0

### 3. Finding the counties with top 10 energy produce

In [17]:
df_countypower = df_powerplant.drop(['Plant_Code','Utility_ID','sector_nam','source_des','tech_desc','Source','Period','Latitude','Longitude'], axis=1)
df_countypower = df_countypower.drop(['Utility_Na','Zip','Street_Add'], axis=1)
df_countypower.head(5)

,Plant_Name,City,County,PrimSource,Total_MW,Coal_MW,NG_MW,Crude_MW,Bio_MW,Hydro_MW,HydroPS_MW,Nuclear_MW,Solar_MW,Wind_MW,Geo_MW,Other_MW
0,Bankhead Dam,Northport,Tuscaloosa,hydroelectric,56.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Barry,Bucks,Mobile,coal,2160.5,1088.5,1072.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Walter Bouldin Dam,Wetumpka,Elmore,hydroelectric,225.9,0.0,0.0,0.0,0.0,225.9,0.0,0.0,0.0,0.0,0.0,0.0
3,Gadsden,Gadsden,Etowah,natural gas,130.0,0.0,130.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Gorgas,Parrish,Walker,coal,1034.0,1034.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df_countypower_group = df_countypower.groupby(['County'])
# df_countypower_group
countypower_total_energy = df_countypower_group['Total_MW'].sum()
countypower_total_energy.head(10)

County
0             151.8
Abbeville       2.4
Acadia       1430.1
Accomack      367.2
Ada           123.5
Adair         317.5
Adams        5781.4
Addison        27.7
Aiken         656.0
Alachua       684.6
Name: Total_MW, dtype: float64

In [19]:
# type(df_countypower_total_energy) # Series
df_countypower_total = countypower_total_energy.to_frame()
df_countypower_total.head(10)

           Total_MW
County
0             151.8
Abbeville       2.4
Acadia       1430.1
Accomack      367.2
Ada           123.5
Adair         317.5
Adams        5781.4
Addison        27.7
Aiken         656.0
Alachua       684.6

In [20]:
df_countypower_total_1 = df_countypower_total.drop([0])
df_countypower_sort  = df_countypower_total_1.sort_values(by=['Total_MW'], ascending=False)
df_countypower_sort.head(10)

             Total_MW
County
Jefferson     18565.9
Maricopa      14431.1
Los Angeles   12945.0
Grant         11959.4
Clark          9511.9
Kern           8443.4
Harris         8396.2
Monroe         8385.8
Washington     8206.6
York           8063.5

### 4. Top 10 Utility Energy Produce

In [21]:
df_Utilities = df_powerplant.drop(['Plant_Code','Utility_ID','sector_nam','source_des','tech_desc','Source','Period','Latitude','Longitude'], axis=1)
df_Utilities = df_Utilities.drop(['Zip','Street_Add','City'], axis=1)
df_Utilities.head(5)

,Plant_Name,Utility_Na,County,PrimSource,Total_MW,Coal_MW,NG_MW,Crude_MW,Bio_MW,Hydro_MW,HydroPS_MW,Nuclear_MW,Solar_MW,Wind_MW,Geo_MW,Other_MW
0,Bankhead Dam,Alabama Power Co,Tuscaloosa,hydroelectric,56.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Barry,Alabama Power Co,Mobile,coal,2160.5,1088.5,1072.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Walter Bouldin Dam,Alabama Power Co,Elmore,hydroelectric,225.9,0.0,0.0,0.0,0.0,225.9,0.0,0.0,0.0,0.0,0.0,0.0
3,Gadsden,Alabama Power Co,Etowah,natural gas,130.0,0.0,130.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Gorgas,Alabama Power Co,Walker,coal,1034.0,1034.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
df_Utilities_group = df_Utilities.groupby(['Utility_Na'])
Utilitypower_total_energy = df_Utilities_group['Total_MW'].sum()
Utilitypower_total_energy.head(10)

Utility_Na
0                                      776.0
180 Raritan Energy Solutions, LLC        1.9
191 Peachtree Associates                 2.4
500 Virginia Solar, LP                   1.0
5045 Wind Partners LLC                   3.2
510 REPP One LLC                         1.3
62SK 8me, LLC                          100.0
651 Chase Solar NG LLC                   1.0
6th St Solar Park of Gainesville FL      1.6
70SM1 8ME LLC                           20.0
Name: Total_MW, dtype: float64

In [23]:
df_Utilitypower_total_energy = Utilitypower_total_energy.to_frame()
df_Utilitypower_total_energy.head(10)

                                     Total_MW
Utility_Na
0                                       776.0
180 Raritan Energy Solutions, LLC         1.9
191 Peachtree Associates                  2.4
500 Virginia Solar, LP                    1.0
5045 Wind Partners LLC                    3.2
510 REPP One LLC                          1.3
62SK 8me, LLC                           100.0
651 Chase Solar NG LLC                    1.0
6th St Solar Park of Gainesville FL       1.6
70SM1 8ME LLC                            20.0

In [24]:
df_Utilitypower_total_energy_1 = df_Utilitypower_total_energy.drop([0])
df_Utilitypower_sort  = df_Utilitypower_total_energy_1.sort_values(by=['Total_MW'], ascending=False)
df_Utilitypower_sort.head(10)

                              Total_MW
Utility_Na
Tennessee Valley Authority     33631.6
Florida Power & Light Co       25776.6
Virginia Electric & Power Co   21820.3
Exelon Nuclear                 21802.1
Duke Energy Carolinas, LLC     21527.2
Georgia Power Co               20744.9
U S Bureau of Reclamation      15141.4
USACE Northwestern Division    13030.3
Alabama Power Co               13017.8
Duke Energy Progress - (NC)    12955.1

### 5. The Prime Power Source of Utilities

In [25]:
df_Utilities_sum = df_Utilities.groupby(['Utility_Na']).sum()
df_Utilities_sum = df_Utilities_sum.drop([0])
df_Utilities_sum.head(10)

,Total_MW,Coal_MW,NG_MW,Crude_MW,Bio_MW,Hydro_MW,HydroPS_MW,Nuclear_MW,Solar_MW,Wind_MW,Geo_MW,Other_MW
Utility_Na,,,,,,,,,,,,
"180 Raritan Energy Solutions, LLC",1.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.9,0.0,0.0,0.0
191 Peachtree Associates,2.4,0.0,0.0,2.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"500 Virginia Solar, LP",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5045 Wind Partners LLC,3.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.2,0.0,0.0
510 REPP One LLC,1.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.3,0.0,0.0,0.0
"62SK 8me, LLC",100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0
651 Chase Solar NG LLC,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6th St Solar Park of Gainesville FL,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.0,0.0,0.0
70SM1 8ME LLC,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0
A & N Electric Coop,5.4,0.0,0.0,5.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# df_Utilities_sum.shape # 3696, 12
df_Utilities_sum_index = df_Utilities_sum.reset_index()
df_Utilities_sum_index

,Utility_Na,Total_MW,Coal_MW,NG_MW,Crude_MW,Bio_MW,Hydro_MW,HydroPS_MW,Nuclear_MW,Solar_MW,Wind_MW,Geo_MW,Other_MW
0,"180 Raritan Energy Solutions, LLC",1.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.9,0.0,0.0,0.0
1,191 Peachtree Associates,2.4,0.0,0.0,2.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"500 Virginia Solar, LP",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,5045 Wind Partners LLC,3.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.2,0.0,0.0
4,510 REPP One LLC,1.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.3,0.0,0.0,0.0
5,"62SK 8me, LLC",100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0
6,651 Chase Solar NG LLC,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,6th St Solar Park of Gainesville FL,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.0,0.0,0.0
8,70SM1 8ME LLC,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0
9,A & N Electric Coop,5.4,0.0,0.0,5.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,ABEC Bidart-Old River LLC,1.8,0.0,0.0,0.0,1.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,AC Landfill Energy LLC,5.1,0.0,0.0,0.0,5.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,ACI Energy Partners LLC,7.2,0.0,7.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,"ADA Carbon Solutions (Red River), LLC",20.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.5
14,"ADS Renewable Energy- Wolf Creek, LLC",2.8,0.0,0.0,0.0,2.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,AE Power Services LLC,2266.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2266.1,0.0,0.0
16,AEP Generating Company,1080.0,0.0,1080.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,AEP Generation Resources Inc,7193.0,5928.0,1245.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
18,AERA Energy LLC,65.1,0.0,65.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,AES Alamitos LLC,1997.0,0.0,1997.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,AES Energy Storage,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
21,AES Hawaii Inc,180.0,180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,AES Huntington Beach LLC,451.6,0.0,451.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,AES Ohio Generation LLC,520.0,0.0,520.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,AES Redondo Beach LLC,1310.0,0.0,1310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,AES Shady Point LLC,320.0,320.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,AES Tait LLC,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
27,AES WR Ltd Partnership,180.0,180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,AES Wind Generation Inc,805.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,773.6,0.0,32.0
29,AG Energy LP,23.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3665,Woonsocket City of,1.1,0.0,0.0,0.0,0.0,1.1,0.0,0.0,0.0,0.0,0.0,0.0
3666,Wooster Renewable Energy LLC,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3667,Wyandot Solar LLC,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
3668,Wyandotte Municipal Serv Comm,77.4,10.5,61.5,5.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3669,Wyeth-Averst Lederle,22.0,0.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3670,X-Elio North America Inc,10.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.6,0.0,0.0,0.0
3671,Xeres Ventures LLC,65.1,0.0,0.0,65.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3672,YKK USA Inc,1.3,0.0,0.0,1.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3673,"Yadkin 601 Farm, LLC",3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
3674,Yakama Power,3.1,0.0,0.0,0.0,0.0,3.1,0.0,0.0,0.0,0.0,0.0,0.0
3675,Yakima-Tieton Irrigation Dist,3.2,0.0,0.0,0.0,0.0,3.2,0.0,0.0,0.0,0.0,0.0,0.0
3676,Yanceyville Farm 2 LLC,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
3677,"Yanceyville Farm 3, LLC",4.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.9,0.0,0.0,0.0
3678,Yanceyville Farm LLC,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
3679,Yavi Energy LLC,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
3680,Yellowstone Energy LP,52.0,0.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3681,Yolo County Flood Control WCD,5.1,0.0,0.0,0.0,0.0,5.1,0.0,0.0,0.0,0.0,0.0,0.0
3682,Yolo County of,10.8,4.8,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
3683,York County Solid W & R Auth,28.9,0.0,0.0,0.0,28.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3684,York Haven Power Company LLC,19.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
3685,Yuba County Water Agency,363.6,0.0,0.0,0.0,0.0,363.6,0.0,0.0,0.0,0.0,0.0,0.0
3686,Yuma County Water User's Association,4.4,0.0,0.0,0.0,0.0,4.4,0.0,0.0,0.0,0.0,0.0,0.0
3687,ZGlobal Inc,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0
3688,Zapco Energy Tactics Corp,3.6,0.0,0.0,0.0,3.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3689,Zeeland Farm Services,2.9,0.0,0.0,0.0,2.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3690,Zephyr Wind LLC,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0
3691,Zero Waste Energy Development Company LLC,1.6,0.0,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3692,Ziegler Power Systems,1.9,0.0,0.0,1.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3693,Zion Energy LLC,456.0,0.0,456.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3694,Zotos International,3.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.4,0.0,0.0

In [27]:
def PrimSource(UtilityName):
    Utility = df_Utilities_sum_index[df_Utilities_sum_index['Utility_Na'] == UtilityName]
    Utility = Utility.reset_index(drop=True)
    
    Coal    = Utility["Coal_MW"][0]
    NG      = Utility["NG_MW"][0]
    Crude   = Utility["Crude_MW"][0]
    Bio     = Utility['Bio_MW'][0]
    Hydro   = Utility['Hydro_MW'][0]
    HydroPS = Utility['HydroPS_MW'][0]
    Nuclear = Utility["Nuclear_MW"][0]
    Solar   = Utility['Solar_MW'][0]
    Wind    = Utility['Wind_MW'][0]
    Geo     = Utility['Geo_MW'][0]
    Other   = Utility["Other_MW"][0]
#     return Utility

    dictionary = {}
    number_and_power_source = [
        [Coal, 'Coal energy'],
        [NG, 'Natural gas'],
        [Crude, 'Petroleum energy'],
        [Bio, 'Biopower'],
        [Hydro, 'Hydroelectric power'],
        [HydroPS, 'Pumped-storage Hydroelectric power'],
        [Nuclear, 'Nuclear power'],
        [Solar, 'Solar power'],
        [Wind, 'Wind power'],
        [Geo, 'Geothermal power'],
        [Other, 'Other']
    ]
    for number, power_source in number_and_power_source:
        if number in dictionary.keys():
            dictionary[number] += [power_source]
        else:
            dictionary[number] = [power_source]
    dictionary[0] = ['No Energy Produce']

    max_key = max(dictionary.keys())
    return (" & ".join(dictionary[max_key]))


print(PrimSource('180 Raritan Energy Solutions, LLC'))

Solar power

In [28]:
# df_Utilities_sum_index['Utility_Na'].apply(PrimSource)
df_Utilities_sum_index['Utility Prime Source'] = df_Utilities_sum_index['Utility_Na'].apply(PrimSource)
df_Utilities_sum_index.head(10)

,Utility_Na,Total_MW,Coal_MW,NG_MW,Crude_MW,Bio_MW,Hydro_MW,HydroPS_MW,Nuclear_MW,Solar_MW,Wind_MW,Geo_MW,Other_MW,Utility Prime Source
0,"180 Raritan Energy Solutions, LLC",1.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.9,0.0,0.0,0.0,Solar power
1,191 Peachtree Associates,2.4,0.0,0.0,2.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Petroleum energy
2,"500 Virginia Solar, LP",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Solar power
3,5045 Wind Partners LLC,3.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.2,0.0,0.0,Wind power
4,510 REPP One LLC,1.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.3,0.0,0.0,0.0,Solar power
5,"62SK 8me, LLC",100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,Solar power
6,651 Chase Solar NG LLC,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Solar power
7,6th St Solar Park of Gainesville FL,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.0,0.0,0.0,Solar power
8,70SM1 8ME LLC,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,Solar power
9,A & N Electric Coop,5.4,0.0,0.0,5.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Petroleum energy