In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

# Analysing County Population Density

In [2]:
df_County_pop = pd.read_csv("County_Population_Density.csv")
df_County_pop.head()

,Unnamed: 0,CHSI_County_Name,Strata_ID_Number,CHSI_State_Name,Population_Density,Min_Population_Density,Max_Population_Density,Population_gap
0,2018,Mountrail,85,North Dakota,4,1,4,3
1,1713,Morrill,85,Nebraska,4,1,4,3
2,1631,Phillips,85,Montana,1,1,4,3
3,1797,Colfax,85,New Mexico,4,1,4,3
4,2390,Harding,85,South Dakota,0,1,4,3

### 1. Counties of North Dakota with Population Density above 10 and under 100

In [3]:
df_County_pop_ND = df_County_pop[df_County_pop['CHSI_State_Name'] == 'North Dakota']
# df_County_pop_ND 
df_County_pop_ND_10 = df_County_pop_ND[df_County_pop_ND['Population_Density']<100]
df_County_pop_ND_10 = df_County_pop_ND_10[10 < df_County_pop_ND_10['Population_Density']]
df_County_pop_ND_10

,Unnamed: 0,CHSI_County_Name,Strata_ID_Number,CHSI_State_Name,Population_Density,Min_Population_Density,Max_Population_Density,Population_gap
458,2026,Richland,58,North Dakota,12,7,14,7
602,2027,Rolette,66,North Dakota,15,8,19,11
1665,2032,Stark,39,North Dakota,16,10,86,76
1666,2017,Morton,39,North Dakota,13,10,86,76
2204,2038,Ward,20,North Dakota,28,34,196,162
2438,2005,Grand Forks,19,North Dakota,46,36,280,244
2527,1995,Burleigh,17,North Dakota,45,49,486,437
2558,1996,Cass,11,North Dakota,74,176,492,316

### 2. Ratio between max and min population density of Nebraska

(Excluding counties whose Min_Population_Density are 0)

In [4]:
df_County_pop_Nebraska = df_County_pop[df_County_pop['CHSI_State_Name'] == 'Nebraska']
df_County_pop_Nebraska = df_County_pop_Nebraska[df_County_pop_Nebraska['Min_Population_Density'] != 0]
df_County_pop_Nebraska['Max_and_Min_Population_Density_Ratio'] = df_County_pop_Nebraska['Max_Population_Density']/df_County_pop_Nebraska['Min_Population_Density']
df_County_pop_Nebraska.head()

,Unnamed: 0,CHSI_County_Name,Strata_ID_Number,CHSI_State_Name,Population_Density,Min_Population_Density,Max_Population_Density,Population_gap,Max_and_Min_Population_Density_Ratio
1,1713,Morrill,85,Nebraska,4,1,4,3,4.0
13,1732,Sheridan,85,Nebraska,2,1,4,3,4.0
14,1726,Rock,85,Nebraska,2,1,4,3,4.0
20,1667,Cherry,85,Nebraska,1,1,4,3,4.0
130,1743,Wheeler,79,Nebraska,1,1,5,4,5.0

### 3. Finding counties of New Mexico with population density under 1000

In [5]:
def state_max_county(state, max_pop):
    df_County_pop_state = df_County_pop[df_County_pop['CHSI_State_Name'] == state]
    df_County_pop_state = df_County_pop_state[df_County_pop_state['Max_Population_Density'] <= max_pop]
    df_County_pop_state = df_County_pop_state.drop(['Unnamed: 0', 'Strata_ID_Number'], axis=1)
    df_County_pop_state = df_County_pop_state.rename(index=str, columns={"CHSI_County_Name": "County", "CHSI_State_Name": "State"})
    return df_County_pop_state

In [6]:
df_County_pop_NM = state_max_county('New Mexico', 1000)
df_County_pop_NM.head()

,County,State,Population_Density,Min_Population_Density,Max_Population_Density,Population_gap
3,Colfax,New Mexico,4,1,4,3
12,Harding,New Mexico,0,1,4,3
196,Sierra,New Mexico,3,1,5,4
198,Socorro,New Mexico,3,1,5,4
203,Torrance,New Mexico,5,1,5,4

### 4. Joining two tables

In [7]:
df_County_pop_Montana = df_County_pop[df_County_pop['CHSI_State_Name'] == 'Montana']
df_County_pop_Montana.head()

,Unnamed: 0,CHSI_County_Name,Strata_ID_Number,CHSI_State_Name,Population_Density,Min_Population_Density,Max_Population_Density,Population_gap
2,1631,Phillips,85,Montana,1,1,4,3
6,1623,McCone,85,Montana,1,1,4,3
7,1647,Treasure,85,Montana,1,1,4,3
9,1645,Teton,85,Montana,3,1,4,3
15,1646,Toole,85,Montana,3,1,4,3

In [8]:
df_County_pop_Montana_ratio = df_County_pop_Montana.copy()
# excluding rows whose Min_Population_Density is 0
df_County_pop_Montana_ratio = df_County_pop_Montana_ratio[df_County_pop_Montana_ratio['Min_Population_Density'] != 0]
df_County_pop_Montana_ratio['Max_and_Min_Population_Density_Ratio'] = df_County_pop_Montana_ratio['Max_Population_Density']/df_County_pop_Montana_ratio['Min_Population_Density']
df_County_pop_Montana_ratio = df_County_pop_Montana_ratio.drop(['Unnamed: 0', 'Strata_ID_Number', 'Population_Density', 'Min_Population_Density', 'Max_Population_Density', 'Population_gap'], axis=1)
df_County_pop_Montana_ratio.head()

   CHSI_County_Name CHSI_State_Name  Max_and_Min_Population_Density_Ratio
2          Phillips         Montana                                   4.0
6            McCone         Montana                                   4.0
7          Treasure         Montana                                   4.0
9             Teton         Montana                                   4.0
15            Toole         Montana                                   4.0

In [9]:
df_County_pop_dif = df_County_pop_Montana.copy()
df_County_pop_dif['Difference_Max_Avg'] = df_County_pop_dif['Max_Population_Density'] - df_County_pop_dif['Population_Density']
df_County_pop_dif['Difference_Min_Avg'] = df_County_pop_dif['Population_Density'] - df_County_pop_dif['Min_Population_Density']
df_County_pop_dif = df_County_pop_dif.drop(['Unnamed: 0', 'Strata_ID_Number', 'Population_Density', 'Min_Population_Density', 'Max_Population_Density', 'Population_gap'], axis=1)
df_County_pop_dif.head()

   CHSI_County_Name CHSI_State_Name  Difference_Max_Avg  Difference_Min_Avg
2          Phillips         Montana                   3                   0
6            McCone         Montana                   3                   0
7          Treasure         Montana                   3                   0
9             Teton         Montana                   1                   2
15            Toole         Montana                   1                   2

In [10]:
df_County_pop_Montana_join = df_County_pop_Montana_ratio.merge(df_County_pop_dif, how='outer')
df_County_pop_Montana_join.head()

,CHSI_County_Name,CHSI_State_Name,Max_and_Min_Population_Density_Ratio,Difference_Max_Avg,Difference_Min_Avg
0,Phillips,Montana,4.0,3,0
1,McCone,Montana,4.0,3,0
2,Treasure,Montana,4.0,3,0
3,Teton,Montana,4.0,1,2
4,Toole,Montana,4.0,1,2